<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello, <%= @email %>!</p>
    <p>We have received your payment</p>
    <p>You may now start creating minibooks.</p>
  </body>
</html>
