<div class="admin-home">
  <h3> Dashboard </h3> </br>
  </br>
  <div class="counts">
    <div class="status-counts">
      <h2> Users Status </h2>
      <%= pie_chart(@data) %> </br>
      <h5> Free Users: <%= @count_free_users %> </h5> 
      <h5> Paid Users: <%= @count_paid_users %> </h5> 
    </div> </br>

    <div class="main-mini-books">
      <h2> Users MainBooks and MiniBooks </h2>
      <%= bar_chart(MainBooks:@mainbooks, MiniBooks: @minibooks) %>
    </div>
  </div>
</div>
