<html>
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  </head>

  <body>
    <div class="mailer-container">  
      <div class="mailer-message-container">
        <img src="https://i.ibb.co/4JxTscf/phinance-logo.png" alt="phinance-logo" border="0">
        <p>Welcome <%= @email %> to PHinance App!</p> </br>
        <p>You can confirm your account email through the link below:</p>
        <p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
      </div>
      <div class="mailer-content-container">
      <img src="https://i.ibb.co/9gwzcrK/phinance-app.png" alt="phinance-app" border="0">
        <h2 id="h2-content">Your Accounting Software in your pocket!</h2>
      </div>
    </div>
  </body>
</html>
